[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pip = "*"
requests = "*"
pandas = "*"
gunicorn = "*"
sklearn = "*"
spacy = "*"
gensim = "*"
ipykernel = "*"
nltk = "*"
numpy = "*"
scikit-learn = "*"
scipy = "*"
seaborn = "*"
squarify = "*"
flask = "*"
pyLDAvis = "*"

[requires]
python_version = "3.7"
