<!DOCTYPE html>
<html>
    <body>
        <h3>Request Example using script in html</h3>
        <pre>
            <script>
                var request = require('request')

                var postData = {
                'input': 10
                }

                var url = 'https://projmedcab2-01-10-2020.herokuapp.com/search'
                var options = {
                method: 'post',
                body: postData,
                json: true,
                url: url
                }
                request(options, function (err, res, body) {
                if (err) {
                    console.error('error posting json: ', err)
                    throw err
                }
                var headers = res.headers
                var statusCode = res.statusCode
                console.log('headers: ', headers)
                console.log('statusCode: ', statusCode)
                console.log('body: ', body)
                return (headers, statusCode, body)
                })
            </script>
        </pre>
        <pre>
            
        </pre>
    </body>
    
</html>